:root {
  --color-bg: #1a1a1a;
  --color-text: #ffffff;
  --color-secondary: #8483c8;
  --accent: var(--color-secondary);
  --accent-dark: #605fb3;
  --accent-light: #9d9cd8;

  --gray-1: #f8f9fa;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #6c757d;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;

  --space-xs: 0.5rem;
  --space-s: clamp(0.5rem, 0.413rem + 0.4348vw, 0.75rem);
  --space-l: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
  --space-xl: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
  --space-2xl: clamp(2rem, 1.6522rem + 1.7391vw, 3rem);
  --space-3xl: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;

  --step-1: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  --line-snug: 1.3;
}

.dark {
  --color-bg: #1a1a1a;
  --color-text: #ffffff;
}
