---
import Layout from "../layouts/Layout.astro";
import Jumbo from "../components/Jumbo/Jumbo.astro";
import "../styles/theme.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import viewTransition from "../utils/viewTransitions";
import type { Project } from "../components/ProjectTimeline/ProjectTimeline.astro";

import ProjectTimeline from "../components/ProjectTimeline/ProjectTimeline.astro";
---

<BaseLayout title="Joeri Kaiser">
  <main view-transition:animate={viewTransition}>
    <section class="main-section">
      <Jumbo />
      <h2>TODO embed tetris game</h2>
      <button id="startTetris">Start Tetris</button>
      <div id="tetrisContainer"></div>
      <ProjectTimeline />
      <div class="continue">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="40px"
          fill="currentColor"
          ><path
            d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"
          ></path></svg
        >
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .main-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* min-height: calc(100svh - var(--space-3xl) * 1.8); */
  }

  .continue {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    color: var(--gray-10);
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
  * {
    font-family: "Lexend", sans-serif;
  }
</style>

<script>
  import { TetrisGame } from "../utils/tetris";

  document.addEventListener("DOMContentLoaded", () => {
    const container = document.getElementById("tetrisContainer");
    const startButton = document.getElementById("startTetris");

    if (container && startButton) {
      const tetris = new TetrisGame(container);
      startButton.addEventListener("click", () => {
        tetris.startGame();
      });
    }
  });
</script>
