---
import { Image } from "astro:assets";
import base from "../../assets/images/base.png";
import overlay from "../../assets/images/overlay.png";
---

<div class="flex flex-wrap justify-center items-start gap-4 p-4">
  <div
    class="relative cursor-pointer shrink-0"
    style="
      --image-size-desktop: 300px;
      --image-size-tablet: 200px;
      --image-size-mobile: 150px;
      width: var(--image-size-desktop);
      height: var(--image-size-desktop);
    "
  >
    <Image src={base} alt="Stylized portrait - base" class="absolute inset-0 w-full h-full scale-[0.96]" />
    <Image
      src={overlay}
      alt="Stylized portrait - overlay"
      class="absolute inset-0 w-full h-full opacity-0 transition-opacity duration-500 ease-in-out overlay"
    />
  </div>
  <div class="self-center flex-1 max-w-[500px] text-center p-4">
    <h2 class="text-left text-2xl mb-2 md:text-3xl">Hi there! I'm Joeri</h2>
    <p class="text-left leading-relaxed">I'm an enthusiastic web developer passionate about crafting engaging and intuitive user experiences</p>
    <p class="text-left leading-relaxed">Welcome to my personal website / blog ? soon ?</p>
  </div>
</div>

<script>
  const overlayImg = document.querySelector(".overlay");
  overlayImg?.addEventListener("click", () => overlayImg.classList.toggle("opacity-100"));
</script>

